<div class="card">
  <div class="card-header">
    <h4>{{ operationText }} Order</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="orderForm" (ngSubmit)="saveOrder()" novalidate autocomplete="off">
          <div class="form-group">
            <label for="merchantName">Merchant Name</label>
            <input type="text" class="form-control titleCase" name="merchantName"
              [ngClass]="{ 'is-invalid': !f.merchantName.valid && f.merchantName.touched }"
              placeholder="Enter Merchant Name" formControlName="merchantName" maxlength="30" />
            <div class="text-danger" *ngIf="!f.merchantName.valid && f.merchantName.touched">Merchant Name is required</div>
          </div>
          <div class="form-group">
            <label for="itemName">Item Name</label>
            <input type="text" class="form-control titleCase" name="itemName" maxlength="30"
              [ngClass]="{ 'is-invalid': !f.itemName.valid && f.itemName.touched }"
              placeholder="Select Item Name" formControlName="itemName" />
              <div class="text-danger" *ngIf="!f.itemName.valid && f.itemName.touched">Item Name is required</div>
          </div>
          <div class="form-group">
            <label for="invoiceAmount">Invoice Amount (in Crypto)</label>
            <div class="input-group invoice-amount">
              <div class="col-md-12 input-group-prepend">
                <select class="form-control" formControlName="currencyType" name="currencyType" 
                  [ngClass]="{ 'is-invalid': !f.currencyType.valid && f.currencyType.touched }"
                  (change)="onCurrencyTypeChange($event.target.value)">
                  <option value="">Select</option>
                  <option *ngFor="let currencyType of currencyTypes$ | async; trackBy: currencyTypesTrackByFn" [ngValue]="currencyType.symbol">
                    {{ currencyType.name }}
                  </option>
                </select>
                <input type="text" min="1" NumbersOnly class="form-control" 
                  placeholder="Enter Invoice Amount in crypto" name="invoiceAmount" 
                  [ngClass]="{ 'is-invalid': !f.invoiceAmount.valid && f.invoiceAmount.touched }"
                  formControlName="invoiceAmount" />
              </div>
            </div>
            <div class="text-danger" *ngIf="!f.currencyType.valid && 
                                            f.currencyType.touched">Currency Type is required</div>
            <div class="text-danger" *ngIf="!f.invoiceAmount.valid && 
                                            f.invoiceAmount.touched">Invoice Amount is required</div>
          </div>
          <div>
            <div class="row">
              <div class="col-md-6">
                <label>Price/crypto <span class="text-danger">*</span></label>
              </div>
              <div class="col-md-6 text-right">
                <span class="total">{{ f.price.value | currency: 'USD' }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Amount Invoiced <span class="text-danger">*</span></label>
              </div>
              <div class="col-md-6 text-right">
                <span class="total">{{ f.totalAmount.value | currency: 'USD' }}</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" [class.disabled]="orderForm.pristine || !orderForm.valid" class="btn btn-info mr-2">{{ operationText }}</button>
            <button type="button" class="btn btn-secondary" (click)="goToDashboard()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-footer"><span class="text-danger">*</span> USD</div>
</div>
<!--{{ orderForm.valid }}
{{ orderForm.value | json }}
-->    
                    
  
